<robot name = "robot">
    <link name="Torso">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_LeftLeg0" type="fixed">
       <parent link="Torso"/>
       <child  link="LeftLeg0"/>
       <origin rpy="0 0 0" xyz="-0.5 -0.2 1" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="LeftLeg0">
        <inertial>
            <origin xyz="-0.5 -0.2 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.5 -0.2 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.2 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.5 -0.2 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_LeftLeg1" type="fixed">
       <parent link="Torso"/>
       <child  link="LeftLeg1"/>
       <origin rpy="0 0 0" xyz="-0.5 0 1" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="LeftLeg1">
        <inertial>
            <origin xyz="-0.5 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.5 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.2 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.5 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_LeftLeg2" type="fixed">
       <parent link="Torso"/>
       <child  link="LeftLeg2"/>
       <origin rpy="0 0 0" xyz="-0.5 0.2 1" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="LeftLeg2">
        <inertial>
            <origin xyz="-0.5 0.2 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.5 0.2 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.2 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.5 0.2 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_RightLeg0" type="fixed">
       <parent link="Torso"/>
       <child  link="RightLeg0"/>
       <origin rpy="0 0 0" xyz="0.5 -0.2 1" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="RightLeg0">
        <inertial>
            <origin xyz="0.5 -0.2 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.5 -0.2 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.2 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.5 -0.2 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_RightLeg2" type="fixed">
       <parent link="Torso"/>
       <child  link="RightLeg2"/>
       <origin rpy="0 0 0" xyz="0.5 0.2 1" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="RightLeg2">
        <inertial>
            <origin xyz="0.5 0.2 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.5 0.2 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.2 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.5 0.2 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="LeftLeg0_LeftLowerLeg0" type="fixed">
       <parent link="LeftLeg0"/>
       <child  link="LeftLowerLeg0"/>
       <origin rpy="0 0 0" xyz="-1 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="LeftLowerLeg0">
        <inertial>
            <origin xyz="0 -0.2 -0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.2 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.2 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
        </collision>
    </link>
    <joint name="LeftLeg1_LeftLowerLeg1" type="fixed">
       <parent link="LeftLeg1"/>
       <child  link="LeftLowerLeg1"/>
       <origin rpy="0 0 0" xyz="-1 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="LeftLowerLeg1">
        <inertial>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
        </collision>
    </link>
    <joint name="LeftLeg2_LeftLowerLeg2" type="fixed">
       <parent link="LeftLeg2"/>
       <child  link="LeftLowerLeg2"/>
       <origin rpy="0 0 0" xyz="-1 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="LeftLowerLeg2">
        <inertial>
            <origin xyz="0 0.2 -0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
        </collision>
    </link>
    <joint name="RightLeg0_RightLowerLeg0" type="fixed">
       <parent link="RightLeg0"/>
       <child  link="RightLowerLeg0"/>
       <origin rpy="0 0 0" xyz="1 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="RightLowerLeg0">
        <inertial>
            <origin xyz="0 -0.2 -0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.2 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.2 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
        </collision>
    </link>
    <joint name="RightLeg2_RightLowerLeg2" type="fixed">
       <parent link="RightLeg2"/>
       <child  link="RightLowerLeg2"/>
       <origin rpy="0 0 0" xyz="1 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="RightLowerLeg2">
        <inertial>
            <origin xyz="0 0.2 -0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2 -0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1" />
            </geometry>
        </collision>
    </link>
</robot>