<robot name = "robot">
    <link name="Torso">
        <inertial>
            <origin xyz="0 -2 1.3729974372689402" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -2 1.3729974372689402" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -2 1.3729974372689402" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_BackLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="BackLeg"/>
       <origin rpy="0 0 0" xyz="0 -2.5 1.3729974372689402" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="BackLeg">
        <inertial>
            <origin xyz="0 -0.5357407022080842 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.5357407022080842 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1.0714814044161685 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.5357407022080842 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1.0714814044161685 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_FrontLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="FrontLeg"/>
       <origin rpy="0 0 0" xyz="0 -1.5 1.3729974372689402" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="FrontLeg">
        <inertial>
            <origin xyz="0 0.2509890836511964 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2509890836511964 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.5019781673023928 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2509890836511964 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.5019781673023928 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_LeftLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="LeftLeg"/>
       <origin rpy="0 0 0" xyz="-0.5 -2 1.3729974372689402" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="LeftLeg">
        <inertial>
            <origin xyz="-0.6080573909276635 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.6080573909276635 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.216114781855327 0.2 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.6080573909276635 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.216114781855327 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_RightLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="RightLeg"/>
       <origin rpy="0 0 0" xyz="0.5 -2 1.3729974372689402" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="RightLeg">
        <inertial>
            <origin xyz="0.4933267233654214 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.4933267233654214 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9866534467308428 0.2 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.4933267233654214 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9866534467308428 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="BackLeg_BackLowerLeg" type="revolute">
       <parent link="BackLeg"/>
       <child  link="BackLowerLeg"/>
       <origin rpy="0 0 0" xyz="0 -1.0714814044161685 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="BackLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.6864987186344701" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.6864987186344701" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.3729974372689402" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.6864987186344701" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.3729974372689402" />
            </geometry>
        </collision>
    </link>
    <joint name="FrontLeg_FrontLowerLeg" type="revolute">
       <parent link="FrontLeg"/>
       <child  link="FrontLowerLeg"/>
       <origin rpy="0 0 0" xyz="0 0.5019781673023928 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="FrontLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.5633033532628461" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5633033532628461" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.1266067065256922" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5633033532628461" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.1266067065256922" />
            </geometry>
        </collision>
    </link>
    <joint name="LeftLeg_LeftLowerLeg" type="revolute">
       <parent link="LeftLeg"/>
       <child  link="LeftLowerLeg"/>
       <origin rpy="0 0 0" xyz="-1.216114781855327 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="LeftLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.4312039776325144" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.4312039776325144" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.8624079552650288" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.4312039776325144" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.8624079552650288" />
            </geometry>
        </collision>
    </link>
    <joint name="RightLeg_RightLowerLeg" type="revolute">
       <parent link="RightLeg"/>
       <child  link="RightLowerLeg"/>
       <origin rpy="0 0 0" xyz="0.9866534467308428 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="RightLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.32514306745979377" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.32514306745979377" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.6502861349195875" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.32514306745979377" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.6502861349195875" />
            </geometry>
        </collision>
    </link>
</robot>