<robot name = "robot">
    <link name="Torso">
        <inertial>
            <origin xyz="0 6 2.4667619268193977" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 6 2.4667619268193977" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 6 2.4667619268193977" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_BackLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="BackLeg"/>
       <origin rpy="0 0 0" xyz="0 5.5 2.4667619268193977" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="BackLeg">
        <inertial>
            <origin xyz="0 -0.30405705790155774 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.30405705790155774 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.6081141158031155 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.30405705790155774 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.6081141158031155 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_FrontLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="FrontLeg"/>
       <origin rpy="0 0 0" xyz="0 6.5 2.4667619268193977" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="FrontLeg">
        <inertial>
            <origin xyz="0 0.3688903702029746 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3688903702029746 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.7377807404059492 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3688903702029746 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.7377807404059492 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_LeftLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="LeftLeg"/>
       <origin rpy="0 0 0" xyz="-0.5 6 2.4667619268193977" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="LeftLeg">
        <inertial>
            <origin xyz="-0.599423512270218 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.599423512270218 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.198847024540436 0.2 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.599423512270218 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.198847024540436 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_RightLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="RightLeg"/>
       <origin rpy="0 0 0" xyz="0.5 6 2.4667619268193977" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="RightLeg">
        <inertial>
            <origin xyz="0.535978498206911 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.535978498206911 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.071956996413822 0.2 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.535978498206911 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.071956996413822 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="BackLeg_BackLowerLeg" type="revolute">
       <parent link="BackLeg"/>
       <child  link="BackLowerLeg"/>
       <origin rpy="0 0 0" xyz="0 -0.6081141158031155 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="BackLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.2758130270570138" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.2758130270570138" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.5516260541140277" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.2758130270570138" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.5516260541140277" />
            </geometry>
        </collision>
    </link>
    <joint name="FrontLeg_FrontLowerLeg" type="revolute">
       <parent link="FrontLeg"/>
       <child  link="FrontLowerLeg"/>
       <origin rpy="0 0 0" xyz="0 0.7377807404059492 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="FrontLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.579615795445438" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.579615795445438" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.159231590890876" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.579615795445438" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.159231590890876" />
            </geometry>
        </collision>
    </link>
    <joint name="LeftLeg_LeftLowerLeg" type="revolute">
       <parent link="LeftLeg"/>
       <child  link="LeftLowerLeg"/>
       <origin rpy="0 0 0" xyz="-1.198847024540436 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="LeftLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.7333809634096988" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.7333809634096988" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.4667619268193977" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.7333809634096988" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.4667619268193977" />
            </geometry>
        </collision>
    </link>
    <joint name="RightLeg_RightLowerLeg" type="revolute">
       <parent link="RightLeg"/>
       <child  link="RightLowerLeg"/>
       <origin rpy="0 0 0" xyz="1.071956996413822 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="RightLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.6010375452167913" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.6010375452167913" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.2020750904335826" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.6010375452167913" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.2020750904335826" />
            </geometry>
        </collision>
    </link>
</robot>