<robot name = "robot">
    <link name="Torso">
        <inertial>
            <origin xyz="0 0 1.4912060418583843" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1.4912060418583843" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1.4912060418583843" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_FrontLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="FrontLeg"/>
       <origin rpy="0 0 0" xyz="0 0.5 1.4912060418583843" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_BackLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="BackLeg"/>
       <origin rpy="0 0 0" xyz="0 -0.5 1.4912060418583843" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_LeftLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="LeftLeg"/>
       <origin rpy="0 0 0" xyz="-0.5 0 1.4912060418583843" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_RightLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="RightLeg"/>
       <origin rpy="0 0 0" xyz="0.5 0 1.4912060418583843" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="FrontLeg_FrontLowerLeg" type="revolute">
       <parent link="FrontLeg"/>
       <child  link="FrontLowerLeg"/>
       <origin rpy="0 0 0" xyz="0 0.914262478092378 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="BackLeg_BackLowerLeg" type="revolute">
       <parent link="BackLeg"/>
       <child  link="BackLowerLeg"/>
       <origin rpy="0 0 0" xyz="0 -1.3070120569915704 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="LeftLeg_LeftLowerLeg" type="revolute">
       <parent link="LeftLeg"/>
       <child  link="LeftLowerLeg"/>
       <origin rpy="0 0 0" xyz="-0.8181342815344257 0 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="RightLeg_RightLowerLeg" type="revolute">
       <parent link="RightLeg"/>
       <child  link="RightLowerLeg"/>
       <origin rpy="0 0 0" xyz="1.1802223780154435 0 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="FrontLeg">
        <inertial>
            <origin xyz="0 0.457131239046189 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.457131239046189 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.914262478092378 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.457131239046189 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.914262478092378 0.2" />
            </geometry>
        </collision>
    </link>
    <link name="BackLeg">
        <inertial>
            <origin xyz="0 -0.6535060284957852 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.6535060284957852 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1.3070120569915704 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.6535060284957852 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1.3070120569915704 0.2" />
            </geometry>
        </collision>
    </link>
    <link name="LeftLeg">
        <inertial>
            <origin xyz="-0.40906714076721284 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.40906714076721284 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8181342815344257 0.2 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.40906714076721284 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8181342815344257 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <link name="RightLeg">
        <inertial>
            <origin xyz="0.5901111890077217 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.5901111890077217 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.1802223780154435 0.2 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.5901111890077217 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.1802223780154435 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <link name="FrontLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.6207891198038226" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.6207891198038226" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.2415782396076451" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.6207891198038226" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.2415782396076451" />
            </geometry>
        </collision>
    </link>
    <link name="BackLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.42353117373474236" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.42353117373474236" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.8470623474694847" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.42353117373474236" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.8470623474694847" />
            </geometry>
        </collision>
    </link>
    <link name="LeftLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.4164256696791598" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.4164256696791598" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.8328513393583196" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.4164256696791598" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.8328513393583196" />
            </geometry>
        </collision>
    </link>
    <link name="RightLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.7456030209291922" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.7456030209291922" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.4912060418583843" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.7456030209291922" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.4912060418583843" />
            </geometry>
        </collision>
    </link>
</robot>