<robot name = "robot">
    <link name="Torso">
        <inertial>
            <origin xyz="0 0 1.117471298980968" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1.117471298980968" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1.117471298980968" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_FrontLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="FrontLeg"/>
       <origin rpy="0 0 0" xyz="0 0.5 1.117471298980968" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_BackLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="BackLeg"/>
       <origin rpy="0 0 0" xyz="0 -0.5 1.117471298980968" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_LeftLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="LeftLeg"/>
       <origin rpy="0 0 0" xyz="-0.5 0 1.117471298980968" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_RightLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="RightLeg"/>
       <origin rpy="0 0 0" xyz="0.5 0 1.117471298980968" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="FrontLeg_FrontLowerLeg" type="revolute">
       <parent link="FrontLeg"/>
       <child  link="FrontLowerLeg"/>
       <origin rpy="0 0 0" xyz="0 0.7535901865451354 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="BackLeg_BackLowerLeg" type="revolute">
       <parent link="BackLeg"/>
       <child  link="BackLowerLeg"/>
       <origin rpy="0 0 0" xyz="0 -1.1985043505527522 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="LeftLeg_LeftLowerLeg" type="revolute">
       <parent link="LeftLeg"/>
       <child  link="LeftLowerLeg"/>
       <origin rpy="0 0 0" xyz="-1.0727947324274454 0 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="RightLeg_RightLowerLeg" type="revolute">
       <parent link="RightLeg"/>
       <child  link="RightLowerLeg"/>
       <origin rpy="0 0 0" xyz="0.6920443545728502 0 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="FrontLeg">
        <inertial>
            <origin xyz="0 0.3767950932725677 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3767950932725677 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.7535901865451354 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3767950932725677 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.7535901865451354 0.2" />
            </geometry>
        </collision>
    </link>
    <link name="BackLeg">
        <inertial>
            <origin xyz="0 -0.5992521752763761 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.5992521752763761 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1.1985043505527522 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.5992521752763761 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1.1985043505527522 0.2" />
            </geometry>
        </collision>
    </link>
    <link name="LeftLeg">
        <inertial>
            <origin xyz="-0.5363973662137227 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.5363973662137227 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0727947324274454 0.2 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.5363973662137227 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0727947324274454 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <link name="RightLeg">
        <inertial>
            <origin xyz="0.3460221772864251 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3460221772864251 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6920443545728502 0.2 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3460221772864251 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6920443545728502 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <link name="FrontLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.25816577251555434" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.25816577251555434" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.5163315450311087" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.25816577251555434" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.5163315450311087" />
            </geometry>
        </collision>
    </link>
    <link name="BackLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.35704514440493074" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.35704514440493074" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.7140902888098615" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.35704514440493074" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.7140902888098615" />
            </geometry>
        </collision>
    </link>
    <link name="LeftLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.5228441220487268" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5228441220487268" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.0456882440974535" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5228441220487268" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.0456882440974535" />
            </geometry>
        </collision>
    </link>
    <link name="RightLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.558735649490484" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.558735649490484" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.117471298980968" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.558735649490484" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.117471298980968" />
            </geometry>
        </collision>
    </link>
</robot>