<robot name = "robot">
    <link name="Torso">
        <inertial>
            <origin xyz="0 0 0.864547046734841" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.864547046734841" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.864547046734841" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_FrontLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="FrontLeg"/>
       <origin rpy="0 0 0" xyz="0 0.5 0.864547046734841" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_BackLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="BackLeg"/>
       <origin rpy="0 0 0" xyz="0 -0.5 0.864547046734841" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_LeftLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="LeftLeg"/>
       <origin rpy="0 0 0" xyz="-0.5 0 0.864547046734841" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_RightLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="RightLeg"/>
       <origin rpy="0 0 0" xyz="0.5 0 0.864547046734841" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="FrontLeg_FrontLowerLeg" type="revolute">
       <parent link="FrontLeg"/>
       <child  link="FrontLowerLeg"/>
       <origin rpy="0 0 0" xyz="0 1.0330355769452662 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="BackLeg_BackLowerLeg" type="revolute">
       <parent link="BackLeg"/>
       <child  link="BackLowerLeg"/>
       <origin rpy="0 0 0" xyz="0 -0.8621197091722721 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="LeftLeg_LeftLowerLeg" type="revolute">
       <parent link="LeftLeg"/>
       <child  link="LeftLowerLeg"/>
       <origin rpy="0 0 0" xyz="-1.2468672020021025 0 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="RightLeg_RightLowerLeg" type="revolute">
       <parent link="RightLeg"/>
       <child  link="RightLowerLeg"/>
       <origin rpy="0 0 0" xyz="1.2286064779300157 0 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="FrontLeg">
        <inertial>
            <origin xyz="0 0.5165177884726331 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.5165177884726331 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1.0330355769452662 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5165177884726331 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1.0330355769452662 0.2" />
            </geometry>
        </collision>
    </link>
    <link name="BackLeg">
        <inertial>
            <origin xyz="0 -0.43105985458613605 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.43105985458613605 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8621197091722721 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.43105985458613605 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8621197091722721 0.2" />
            </geometry>
        </collision>
    </link>
    <link name="LeftLeg">
        <inertial>
            <origin xyz="-0.6234336010010513 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.6234336010010513 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.2468672020021025 0.2 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.6234336010010513 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.2468672020021025 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <link name="RightLeg">
        <inertial>
            <origin xyz="0.6143032389650078 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.6143032389650078 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.2286064779300157 0.2 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.6143032389650078 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.2286064779300157 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <link name="FrontLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.27375468956829807" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.27375468956829807" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.5475093791365961" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.27375468956829807" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.5475093791365961" />
            </geometry>
        </collision>
    </link>
    <link name="BackLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.4322735233674205" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.4322735233674205" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.864547046734841" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.4322735233674205" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.864547046734841" />
            </geometry>
        </collision>
    </link>
    <link name="LeftLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.4258019775408242" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.4258019775408242" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.8516039550816484" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.4258019775408242" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.8516039550816484" />
            </geometry>
        </collision>
    </link>
    <link name="RightLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.3194347561572478" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.3194347561572478" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.6388695123144956" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.3194347561572478" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.6388695123144956" />
            </geometry>
        </collision>
    </link>
</robot>