<robot name = "robot">
    <link name="Torso">
        <inertial>
            <origin xyz="0 0 1.4472080856635494" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1.4472080856635494" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1.4472080856635494" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_FrontLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="FrontLeg"/>
       <origin rpy="0 0 0" xyz="0 0.5 1.4472080856635494" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_BackLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="BackLeg"/>
       <origin rpy="0 0 0" xyz="0 -0.5 1.4472080856635494" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_LeftLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="LeftLeg"/>
       <origin rpy="0 0 0" xyz="-0.5 0 1.4472080856635494" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_RightLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="RightLeg"/>
       <origin rpy="0 0 0" xyz="0.5 0 1.4472080856635494" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="FrontLeg_FrontLowerLeg" type="revolute">
       <parent link="FrontLeg"/>
       <child  link="FrontLowerLeg"/>
       <origin rpy="0 0 0" xyz="0 1.2167881928652382 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="BackLeg_BackLowerLeg" type="revolute">
       <parent link="BackLeg"/>
       <child  link="BackLowerLeg"/>
       <origin rpy="0 0 0" xyz="0 -0.9032483413804069 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="LeftLeg_LeftLowerLeg" type="revolute">
       <parent link="LeftLeg"/>
       <child  link="LeftLowerLeg"/>
       <origin rpy="0 0 0" xyz="-0.624914601443669 0 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="RightLeg_RightLowerLeg" type="revolute">
       <parent link="RightLeg"/>
       <child  link="RightLowerLeg"/>
       <origin rpy="0 0 0" xyz="1.3399035314550534 0 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="FrontLeg">
        <inertial>
            <origin xyz="0 0.6083940964326191 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.6083940964326191 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1.2167881928652382 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.6083940964326191 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1.2167881928652382 0.2" />
            </geometry>
        </collision>
    </link>
    <link name="BackLeg">
        <inertial>
            <origin xyz="0 -0.45162417069020344 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.45162417069020344 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.9032483413804069 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.45162417069020344 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.9032483413804069 0.2" />
            </geometry>
        </collision>
    </link>
    <link name="LeftLeg">
        <inertial>
            <origin xyz="-0.3124573007218345 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3124573007218345 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.624914601443669 0.2 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3124573007218345 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.624914601443669 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <link name="RightLeg">
        <inertial>
            <origin xyz="0.6699517657275267 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.6699517657275267 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.3399035314550534 0.2 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.6699517657275267 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.3399035314550534 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <link name="FrontLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.7210552570755719" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.7210552570755719" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.4421105141511439" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.7210552570755719" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.4421105141511439" />
            </geometry>
        </collision>
    </link>
    <link name="BackLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.6581418828444338" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.6581418828444338" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.3162837656888675" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.6581418828444338" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.3162837656888675" />
            </geometry>
        </collision>
    </link>
    <link name="LeftLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.7236040428317747" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.7236040428317747" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.4472080856635494" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.7236040428317747" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.4472080856635494" />
            </geometry>
        </collision>
    </link>
    <link name="RightLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.47601032226402684" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.47601032226402684" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.9520206445280537" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.47601032226402684" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.9520206445280537" />
            </geometry>
        </collision>
    </link>
</robot>